<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.fixit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:roundIcon="@mipmap/new_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FixIt">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name=".parts.tig_models.TIG_180hf_parts"
            android:exported="false"
            android:label="ЗИП TIG 180HF"/>
        <activity
            android:name=".parts.mig_models.MIG_200Energy_parts"
            android:exported="false"
            android:label="ЗИП MIG 200"/>
        <activity
            android:name=".parts.cut_models.CUT_45P_parts"
            android:exported="false"
            android:label="ЗИП CUT 45P"/>
        <activity
            android:name=".parts.cut_models.CUT_40_com_parts"
            android:exported="false"
            android:label="ЗИП CUT 40 com"/>
        <activity
            android:name=".parts.arc_models.ARC_200_parts"
            android:exported="false"
            android:label="ЗИП ARC 200"/>
        <activity
            android:name=".parts.arc_models.ARC_165_mini_parts"
            android:exported="false"
            android:label="ЗИП ARC 165 mini"/>
        <activity
            android:name=".parts.arc_models.ARC_160_ROL_parts"
            android:exported="false"
            android:label="ЗИП ARC 160"/>
        <activity
            android:name=".parts.tig_models.WSME_315WC_parts"
            android:exported="false"
            android:label="ЗИП WSME 315WC" />
        <activity
            android:name=".parts.tig_models.WSME_315W_parts"
            android:exported="false"
            android:label="ЗИП WSME 315W" />
        <activity
            android:name=".parts.tig_models.WSME_200W_parts"
            android:exported="false"
            android:label="ЗИП WSME 200W" />
        <activity
            android:name=".parts.tig_models.WSME_200_P_parts"
            android:exported="false"
            android:label="ЗИП WSME 200P" />
        <activity
            android:name=".parts.tig_models.WSME_200E_parts"
            android:exported="false"
            android:label="ЗИП WSME 200E" />
        <activity
            android:name=".parts.tig_models.WSME_200_parts"
            android:exported="false"
            android:label="ЗИП WSME 200" />
        <activity
            android:name=".parts.tig_models.TIG_400_parts"
            android:exported="false"
            android:label="ЗИП TIG 400" />
        <activity
            android:name=".parts.tig_models.TIG_200_EN_parts"
            android:exported="false"
            android:label="ЗИП ENERGY TIG 200 AC/DC" />
        <activity
            android:name=".parts.tig_models.TIG_200_DC_parts"
            android:exported="false"
            android:label="ЗИП TIG 200 DC" />
        <activity
            android:name=".parts.mig_models.MULTIMIG_200_PFC_parts"
            android:exported="false"
            android:label="ЗИП MULTIMIG 200 PFC DUAL PULS" />
        <activity
            android:name=".parts.mig_models.MIG_295_395_parts"
            android:exported="false"
            android:label="ЗИП MIG 295-395" />
        <activity
            android:name=".parts.mig_models.MIG350_500_parts"
            android:exported="false"
            android:label="ЗИП MIG 350-500" />
        <activity
            android:name=".parts.mig_models.MIG_315T_parts"
            android:exported="false"
            android:label="ЗИП MIG 250T-315T" />
        <activity
            android:name=".parts.mig_models.MIG_315_parts"
            android:exported="false"
            android:label="ЗИП MIG 250-315" />
        <activity
            android:name=".parts.mig_models.MIG_220C_parts"
            android:exported="false"
            android:label="ЗИП MIG 220C" />
        <activity
            android:name=".parts.mig_models.MIG_200C_parts"
            android:exported="false"
            android:label="ЗИП MIG 200C" />
        <activity
            android:name=".parts.mig_models.MIG_200_parts"
            android:exported="false"
            android:label="ЗИП MIG 200" />
        <activity
            android:name=".parts.mig_models.MIG_160Energy_parts"
            android:exported="false"
            android:label="ЗИП ENERGY MIG 160" />
        <activity
            android:name=".parts.cut_models.CUT_60_parts"
            android:exported="false"
            android:label="ЗИП CUT 60" />
        <activity
            android:name=".parts.cut_models.CUT_40_parts"
            android:exported="false"
            android:label="ЗИП CUT 40" />
        <activity
            android:name=".parts.cut_models.CUT_120_parts"
            android:exported="false"
            android:label="ЗИП CUT 120" />
        <activity
            android:name=".parts.cut_models.CUT_100S_parts"
            android:exported="false"
            android:label="ЗИП CUT 100S" />
        <activity
            android:name=".parts.cut_models.CUT_100_parts"
            android:exported="false"
            android:label="ЗИП CUT 100" />
        <activity
            android:name=".parts.arc_models.MMA_200G_parts"
            android:exported="false"
            android:label="ЗИП MMA 200G" />
        <activity
            android:name=".parts.arc_models.ARC_400_parts"
            android:exported="false"
            android:label="ЗИП ARC 400" />
        <activity
            android:name=".parts.arc_models.ARC_315LT_parts"
            android:exported="false"
            android:label="ЗИП ARC 315LT" />
        <activity
            android:name=".parts.arc_models.ARC_315_parts"
            android:exported="false"
            android:label="ЗИП ARC 300" />
        <activity
            android:name=".parts.arc_models.ARC_250LT_parts"
            android:exported="false"
            android:label="ЗИП ARC 250LT" />
        <activity
            android:name=".parts.arc_models.ARC_160_PFC_parts"
            android:exported="false"
            android:label="ЗИП ARC 160 PFC" />
        <activity
            android:name=".parts.CUT_parts"
            android:exported="false"
            android:label="ЗИП Плазменная резка" />
        <activity
            android:name=".parts.ARC_parts"
            android:exported="false"
            android:label="ЗИП Ручная дуговая сварка" />
        <activity
            android:name=".parts.TIG_parts"
            android:exported="false"
            android:label="ЗИП Аргоно-дуговая сварка" />
        <activity
            android:name=".parts.MIG_parts"
            android:exported="false"
            android:label="ЗИП Полуавтоматическая сварка" />
        <activity
            android:name=".menu_java.Other"
            android:exported="false"
            android:label="Меню" />
        <activity
            android:name=".menu_java.Spare_parts"
            android:exported="false"
            android:label="ЗИП" />
        <activity
            android:name=".menu_java.new_list_service.New_Services"
            android:exported="false"
            android:label="Адреса сервисных центров" />
        <activity
            android:name=".menu_java.Bottom"
            android:exported="false"
            android:label="Схемы и инструкции" />
        <activity
            android:name=".mig.MIG200C"
            android:exported="false"
            android:label="MIG 200C" />
        <activity
            android:name=".tig.WSME200W"
            android:exported="false"
            android:label="WSME 200W" />
        <activity
            android:name=".tig.WSME315WC"
            android:exported="false"
            android:label="WSME 315WC" />
        <activity
            android:name=".menu_java.send_mail.Feedback"
            android:exported="false"
            android:label="Обратная связь" />
        <activity
            android:name=".menu_java.Order_for_repair"
            android:exported="false"
            android:label="Заявка на ремонт" />
        <activity
            android:name=".menu_java.Service_locate"
            android:label="Адреса сервисных центров" />
        <activity
            android:name=".menu_java.Contacts"
            android:label="Контакты" />
        <activity
            android:name=".menu_java.Info"
            android:label="Информация о приложении" />
        <activity
            android:name=".TIG_catalog"
            android:label="Аргонодуговая сварка" />
        <activity
            android:name=".MIG_catalog"
            android:label="Полуавтоматическая сварка" />
        <activity
            android:name=".CUT_catalog"
            android:label="Плазменная резка" />
        <activity
            android:name=".ARC_catalog"
            android:label="Ручная дуговая сварка" />
        <activity
            android:name=".Splash_screen"
            android:theme="@style/Theme.FixIt.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tig.TIG200_DC"
            android:label="TIG 200 DC" />
        <activity
            android:name=".arc.ENERGY_ARC220"
            android:label="ENERGY ARC 220" />
        <activity
            android:name=".arc.ENERGY_ARC160"
            android:label="ENERGY ARC 160" />
        <activity
            android:name=".mig.ENERGY_MIG160_200"
            android:label="ENERGY MIG 160-200" />
        <activity
            android:name=".mig.MIG500W"
            android:label="MIG 500W" />
        <activity
            android:name=".tig.ENERGY_TIG180"
            android:label="ENERGY TIG 180 HF" />
        <activity
            android:name=".cut.CUT45P"
            android:label="CUT 45P" />
        <activity
            android:name=".cut.CUT40"
            android:label="CUT 40" />
        <activity
            android:name=".cut.CUT100S"
            android:label="CUT 100S" />
        <activity
            android:name=".arc.ARC400"
            android:label="ARC 400" />
        <activity
            android:name=".cut.CUT120"
            android:label="CUT 120" />
        <activity
            android:name=".cut.CUT60"
            android:label="CUT 60" />
        <activity
            android:name=".mig.MIG315T"
            android:label="MIG 315T" />
        <activity
            android:name=".mig.MIG295"
            android:label="MIG 295" />
        <activity
            android:name=".mig.MIG350"
            android:label="MIG 350-500" />
        <activity
            android:name=".mig.MIG250"
            android:label="MIG 250" />
        <activity
            android:name=".cut.CUT40COM"
            android:label="CUT 40COM" />
        <activity
            android:name=".mig.MIG200P"
            android:label="MIG 200P-MIG 200C" />
        <activity
            android:name=".mig.MIG200"
            android:label="MIG 200" />
        <activity
            android:name=".tig.ENERGY_TIG200"
            android:label="ENERGY TIG 200 AC/DC" />
        <activity
            android:name=".tig.WSME200"
            android:label="WSME 200" />
        <activity
            android:name=".tig.WSME315W"
            android:label="WSME 315W" />
        <activity
            android:name=".tig.WSME200P"
            android:label="WSME 200P" />
        <activity
            android:name=".tig.WSME200E"
            android:label="WSME 200E" />
        <activity
            android:name=".mig.MULTIMIG200PFC"
            android:label="MULTIMIG 200 PFC" />
        <activity
            android:name=".mig.MIG220C"
            android:label="MIG 220C" />
    </application>

</manifest>